

GEMINI_API_KEY=your-gemini-api-key-here
MISTRAL_API_KEY=your-mistral-api-key-here
TAVILY_API_KEY=your-tavily-api-key-here
SERPER_API_KEY=your-serper-api-key-here

## you can use anyone of this above api key's