@import "tailwindcss";

@theme {
  --color-brand-black: #000000;
  --color-brand-paper: #f0f0f0;
  --color-brand-orange: #ff5c00;
  --color-brand-gray: #666666;

  --shadow-brutal: 4px 4px 0px #000000;
  --shadow-brutal-xl: 8px 8px 0px #000000;
}

@layer utilities {
  .brutal-border {
    border: 2px solid #000000;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

.shadow-brutal {
  box-shadow: var(--shadow-brutal);
}

.shadow-brutal-xl {
  box-shadow: var(--shadow-brutal-xl);
}

.brutal-btn {
  border: 2px solid #000000;
  background-color: var(--color-brand-orange);
  color: #ffffff;
  font-weight: 700;
  padding: 0.75rem;
  transition-property: all;
  box-shadow: var(--shadow-brutal);
}

.brutal-btn:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pb-safe-area {
  padding-bottom: env(safe-area-inset-bottom);
}
